body {
    font-family: 'Arial', sans-serif;
 margin: 0;
 padding: 150px;
 background-color:rgb(129, 129, 211)
}

.resume-container{
    display: flex;
    background-color:rgb(148, 148, 218);
    width: 80;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(134, 134, 247)
}

h1 {
    font-size: 18px;
    text-align: center;
    margin: 20px 0 10px;
    color:;
    border-radius: 10px;
    box-shadow:0 0 15px ;
}

h3 {
    font-size: 18px;
    padding: 2%;
    margin: 20ox 0 10px;
    color: pu;
    border-radius: 10px;
    box-shadow: 0 0 15px  ;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: fill round;
    padding: 10px;
    margin: 10px 0;
}

ul li {
    margin: 5px 0;
}
/* left section styling*/
.left-section {
    background-color:purple ;
    color:rgb(230, 102, 123) ;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-left: 5px solid ;
}



/* right   section styling */
.right{
    padding: 20px;
    width: 65%;
}

button{
     box-shadow: 0 0 15px rgb(167, 167, 231);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

button.hover{
    background: color #023074;

}



  
